<div class="game-container">
    <div *ngFor="let laser of lasers" class="laser" [style.left]="laser.x + '%'" [style.top]="laser.y + '%'">
      <div class="laser-beam"></div>
    </div>
  <div class="score">Score: {{ score }}</div>
  <div class="kitten" *ngFor="let kitten of kittens"
       [style.left]="kitten.x + '%'"
       [style.top]="kitten.y + '%'"
       (click)="explodeKitten(kitten, $event)">
    <img *ngIf="!kitten.exploded" [src]="kitten.img" alt="kitten" />
    <div *ngIf="kitten.exploded" class="explosion">💥</div>
  </div>
  <div *ngFor="let laser of lasers" class="laser" [style.left]="laser.x + '%'" [style.top]="laser.y + '%'">
    <div class="laser-beam"></div>
  </div>
  <div class="game-click-capture" (click)="onGameClick($event)"></div>
  <div *ngIf="showStartMessage" class="game-start-popup">
    <div class="game-start-title">CLICK THOSE CATS!</div>
  </div>
  <div *ngIf="gameOver" class="game-over-popup">
    <div class="game-over-title">GAME OVER</div>
    <div class="game-over-subtitle">Press F5 to try again!</div>
  </div>
  <div *ngIf="gameWin" class="game-win-popup">
    <div class="game-win-title">YOU WIN!</div>
    <div class="game-win-subtitle">All kittens exploded!<br>Press F5 to play again!</div>
  </div>
</div>